<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Your Vote</strong>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% if current_user && current_user.admin %>
        <a class="navbar-item" href="/admin">
          Administrativo
        </a>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if !current_user %>
            <%= link_to('Log in', new_user_session_path, :class => "button is-info") %>               
            <%= link_to('Sign up', new_user_registration_path, :class => "button is-primary") %> 
          <% end %>
          <% if current_user %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "button is-light") %>        
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
